{% extends 'base.html' %}

{% block titre_page%}
Liste des projets
{% endblock %}

{% block lien %}
    <a href="{% url 'Creation_de_projet' %}" class="btn btn-primary rounded-full mr-4">Ajouter un projet</a>
{% endblock %}
{% block content %}
    <div class="container w-screen py-8 px-10">
        <h1 class="text-2xl font-bold mb-4 text-center">Liste des projets</h1>
        <div class="flex flex-col w-full gap-4">
            {% for projet in projets %}
                <div class="flex items-center justify-between w-full border border-base-300 bg-base-100 rounded-xl p-4">
                    <div>
                        <h2 class="card-title">{{ projet.nom }}</h2>
                        <p class="text-base-content/70 text-sm">{{ projet.description_projet }}</p>
                    </div>

                    <div class="flex gap-2">
                        <a href="#" class="btn btn-soft btn-sm">Voir plus</a>
                        <a href="{% url 'Mise_a_jour_du_projet' projet.id %}" class="btn btn-warning btn-soft btn-sm">Modifier</a>
                        <a href="#" class="btn btn-error btn-soft btn-sm">Supprimer</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}